#header{
	width: 100%;
	padding-bottom: 1rem;
	background: white;
}
#header>p{
	text-align: center;
}
#header>span{
	text-align: center;
	display: block;
	padding-top: 0.5rem;
}
#header>img{
	width: 100%;
	display: block;
}
#dl{
	display: block;
	margin: auto;
	border-radius: 20px;
	padding: 0.3rem 2rem;
}
#li{
	width: 42%;
	float: left;
	margin-left: 5%;
	margin-right: 0%;
	overflow: hidden;
	background: #FFFFFF;
}
#li>a{
	border: 1px solid #AAAAAA;
}
#xin{
	width: 100%;
	display: block;
}
#xintop{
	border: 0px;
}
.mui-table-view-cell:after{
	height: 0px;
}
#libao{
	background: #FFFFFF;
	border: 0px;
}
.mui-table-view:after{
	height: 0px;
}
.mui-table-view:before{
	height: 0px;
}
#libaoone{
	background: #FFFFFF;
	float: left;
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 1rem solid #EEEEEE;
}
#span{
	font-size: 14px;
}
#p{
	font-size: 10px;
}
.mui-table-view{
	position:initial;
}
#ulp{
	border-bottom: 1px solid #EEEEEE;
}
#ulpp{
	margin-top: 1rem;
	border-bottom: 1px solid #EEEEEE;
}
#aaa{
	font-size: 14px;
	color: #6D6D72;
}
#roww{
	background: #FFFFFF;
}
#roww>div>img{
	display: block;
	width: 84%;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#rowzixun>div>span{
	line-height: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 14px;
}
#rowzixun{
	background: #FFFFFF;
	padding-bottom: 0.6rem;
	border-bottom: 1.1rem solid #EEEEEE;
}
#nine{
	background: #FFFFFF;
	border: 0px;
}
#nine>li{
	border: 0px;
	padding-top: 0px;
	margin-top: 0px;
}
#nine>li>a{
	padding-top: 0px;
	margin-top: 0px;
}
#nine>li>a>div{
	margin-bottom: 1rem;
}
#nine>li>a>p{
	font-size: 10px;
	margin-bottom: 0.2rem;
}
.img{
	width: 50%;
	display: block;
	margin: auto;
}
#end>div>span{
	text-align: center;
	display: block;
	font-size: 14px;
	padding-top: 0.5rem;
}
#end>div>p{
	text-align: center;
	font-size: 12px;
	padding-bottom: 0.5rem;
	padding-top: 0.2rem;
}
